params {

}

params {
    reads = 'data/*.fastq.gz'           // Input reads
    reference = ''                      // Optional reference genome
    threads = 4                         // Number of threads to use
    outdir = 'results'                  // Output directory
    dockerImage = 'username/my-nextflow-pipeline'  // Docker image for the pipeline
}

process {
    withName: 'trimReads' {
        cpus = params.threads
        memory = '4 GB'
    }

    withName: 'alignReads' {
        cpus = params.threads
        memory = '8 GB'
        time = '2h'
    }

    withName: 'annotateReads' {
        cpus = 4
        memory = '4 GB'
    }
    withName: 'deNovoAssembly' {
        cpus = 4
        memory = '16 GB'
    }
}



profiles {
    standard {
        process.executor = 'local'
    }

    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = params.dockerImage
    }
}

workflow {
    name = 'Long-read sequencing and annotation pipeline'
    description = 'A pipeline for trimming, quality control, alignment, and annotation of long-read sequencing data.'
    author = 'Your Name'
}